
head
  title Horsify
  script(src="/components/jquery/dist/jquery.min.js")
  link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/components/fontawesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="/css/style.css")
  script(src="/components/bootstrap/dist/js/bootstrap.min.js")
  script(src="/js/script.js")
  script(src="//use.typekit.net/mly3xkc.js")
  script
    | try{Typekit.load();}catch(e){}
