extends layout

block content
  // Fixed navbar
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='#') Horsify

  .container
    .col-xs-12
      img(src= "/url?url=" + image.url)
