extends layout

block content
  // Fixed navbar
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='#') Horsify

  .container.body
    .col-xs-12
      img.center-block(src= "/fetch/" + image.o + "/" + image.url)
